* {
    /*a todas las etiquetas*/
    /* margin: 0;*/
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif'
}

/* estilo scrollbar*/
body::-webkit-scrollbar{
    width: 15px;
    background: rgba(157, 157, 157, 0.811);
}
body::-webkit-scrollbar-thumb{
    background: rgb(196, 165, 73);
    border-radius: 20px;
}
/* estilo scrollbar*/

.cuerpo {

    background-image: url("../img/1269810-3-.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


.b2 {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    background-color: rgba(185, 162, 91, 0.9);
}


.b1 {
    padding: 1vw 2vw;
    background: none;
    border: 0.5vw /*solid*/ rgba(185, 162, 91, 0.9);
    border-radius: 6px;
    color: black;
    font-size: 1.5vw;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
    margin: 1vw;
    display:  inline-block;
}

/*.b1:hover {
    box-shadow: 0 0 0 5px rgb(185, 162, 91), 0 0 0 10px rgb(100, 100, 100);
    border: 4px solid rgb(100, 100, 100);
    transform: scale(0.1);
    color: rgb(100, 100, 100);

} */


#b3 {
    width: 25vw;
    font-size: 2vw;
    font-style: oblique;
    margin: 10vw;
    text-align: center
}

.pie img {
    width: 8vw;
    position: relative;
    bottom: 1vw;
    padding: 2vw;
    display: inline
}


.pie {
    font-size: 2vw;
    bottom: 0.5vw;

    display:flex;
    justify-content: space-between;
    align-items:center;
    color: rgb(194, 194, 194);
    padding: 10px;

}

.pieTexto{
    text-shadow: 0 0 10px black;
    background: rgba(0, 0, 0, 0.21);
    padding: 5px;
    border-radius: 20px;
}


/*Fondo para que se lean los textos*/
.fondo{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 1%;
    font-size: 150%;
}





/* tarjeta Donaciones*/

#contenedor{
    width: 80%;
    display: flex;
    flex-direction: row;   /* column , row-reverse,  col-reverse*/
    flex-wrap: wrap;  /* nowrap wrap wrap-reverse*/
    justify-content: space-evenly ; /* center flex-start flex-end space-between (entre) space-around (alrededor)*/
    align-content: space-around;  /* center flex-end flex-start space-around space-between*/
    margin: auto;
    margin-top: 2rem;
}


#tarjeta{
    width: 250px;
    padding: 5px;
   /* border: 1px solid black; */
    
    border-radius: 5px;
    margin-top: 20px;

    text-align: center;  /*Centra el texto horizontalmente */
}

.imagencard{
    width: 40%;
}


#intro{
    text-align: center; /* Centra el contenido de la página horizontalmente */
    margin: 0 auto; /* Centra el cuerpo de la página en el centro del viewport */
    margin-top: 2rem;
    max-width: 80%; /* Ancho máximo del contenido */
    padding: 20px 20px; /* Márgenes en los lados derecho e izquierdo */
}

.lista{
    list-style-type: square;
}


/* tarjeta de adopcion*/
#cardAdop{
    width: 300px;
    padding: 0px;
    border: 1px solid black;
    border-radius:0 0 10px 10px;
    margin-top: 5px;
    text-align: center;
    background-color:  rgba(185, 162, 91,0.7);

}

.imagencardAdop{
    width: 100%;
}


#cardAdop:hover{
    animation: pulse;   
    animation-duration: 4s;
}
.c3{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: stretch;
}


.etiquetas{
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;  
    justify-content: space-around ; 
    align-content: space-around;  
    align-items: center;
}


/*Formilario*/
label, button{
    font-weight:bold;
    font-size: 110%;
}
button:hover{
    cursor:pointer;
}

input, textarea, button, select{
    max-width: 90%;
    min-width: none;
    padding: 17px 35px;
    background-color: rgba(185, 162, 91,0.7);
    border-radius: 10px;
    margin: 15px;
    border: 1px solid #424242;
    color: #3f3f3f;
    text-align: center ;
}

.caja h2, .caja h1{
    font-size: 200%;
    text-align: center;
}
.caja p, .caja h3, .caja ul{
    font-size: 150%;
}

.caja small{
    text-align: center;
    max-width: 20%;
}

.caja{
    width: 650px;
    max-width: 80%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 8%;
    margin-top: 2rem;
}
form{
    text-align: center;
    font-size: 130%;
}
.c2{
    width: 80%;
}

.flex-container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    
}

/* alertas validacion*/
.input-error{
    border: solid 1px red;
    box-shadow: 0 0 5px red;
}

.error{
    font-weight: bold;
    color: red;
}
/* alertas validacion*/

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  /* For mobile phones: */
[class*="col-"] { /*a todas las clases que comiencen con col- ponele 100%*/
  width: 100%;
  float: left;
  padding: 15px;
}

@media only screen and (min-width: 600px) { /* entonces >= 600px  */
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {  /* entonces >=   */
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
  
  body {
    background-color: #f2f2f2;
  }
  
  .document-center {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex; /* asi puedo cetral vertical y horizontalmente*/
    justify-content: center;
    align-items: center;
  }
  
  /*Esta partecita toma el ancho real de las fotosy las pongo explicitas al 100% de ancho asi me funciona el truco del 
  aspect ratio que uso mas abajo*/
  .carousel-container {
    max-width: 499px;
    width: 95%;
  }
    /*Aca empieza el carusel. El Overflow hidden funciona como mask*/
  
  .carousel {
    position: relative;
    width: 100%; /* no del body sino del container*/
    /*Todas las imagenes que selecciones tienen 499px, los saque del inspect de la pagina y altura Height 747px.*/
    padding-top: calc(747/499 *100%); /*necesito que el carusel se reajuste proporcionalmente en el css*/
    overflow: hidden;
  }
  
  .carousel-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .left-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 147px;
    cursor: pointer;
  }
  
  .left-arrow:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  }
  
  .left-arrow:hover .chevron,
  .right-arrow:hover .chevron {
    border-color: #e6e6e6;
  }
  
  .right-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 147px;
    cursor: pointer;
  }
  
  .right-arrow:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  }
  
  .chevron {
    width: 25px;
    height: 25px;
    border: solid rgba(255, 255, 255, 0.5);
    border-width: 10px 10px 0 0;
  }
  
  .chevron.right {
    transform: rotate(45deg);
  }
  
  .chevron.left {
    transform: rotate(-135deg);
  }
  
  .circle-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: start;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
  }
  
  .circle {
    border: 1px solid white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .circle-fill {
    background-color: white;
  }
  
  .text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    bottom: 45px;
    left: 0;
    width: 100%;
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
  }
  
  .text-container p:nth-child(1) {
    margin: 10px 100px;
    font-size: 1.5em;
  }
  
  .text-container p:nth-child(2) {
    margin: 10px 100px 20px 100px;
  }
  
  .carousel-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Animations */
  @keyframes toRight {
    0% {
      left: 0;
    }
    100% {
      left: 100%;
    }
  }
  
  @keyframes toLeft {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  
  @keyframes comeRight {
    0% {
      left: 100%;
    }
    100% {
      left: 0;
    }
  }
  
  @keyframes comeLeft {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }

